/* Reset básico */
body, h1, h2, h3, p, a, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fondo general */
body {
    background-color: #f4f4f4;
}

/* Contenedor de las páginas */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botones */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #92b6dd;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Navegación */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}
/* Estilos para el mensaje de Logout */
.logout-message {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.logout-subtext {
    font-size: 16px;
    color: #555;
}
