.home-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: white; /* Para que el texto sea visible */
    text-align: center;
  }
  .text-form-container {
    position: absolute;
    padding: 20px;/* Bordes redondeados */
    max-width: 600px;
    margin-left: -780px; 
    top: 130px;
  }
  .title-text {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #F5EEDC; /* Color beige del texto */
    
  font-family: 'Montserrat', sans-serif;
  }
  
  .subtext {
    font-size: 14px; /* Texto pequeño */
    text-align: left; /* Alineado a la izquierda */
    color: #231a1a91; /* Color gris oscuro para mejor lectura */
    margin-top: 10px; /* Espacio superior */
    max-width: 700px; /* Ancho máximo para controlar el texto */
  }
  .login-form {
    margin-top: 20px; 
    max-width: 400px;
  }
      
  input {
    font-family: 'Montserrat', sans-serif; /* Fuente */
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px !important; /* ¡Forzamos los bordes redondeados! */
    width: 100%;
    outline: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #007bff; /* Azul cuando se enfoca */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
  }
  
  input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #888;
  }
  .btn-login {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #007bff; /* Azul principal */
    border: none;
    padding: 12px 20px;
    border-radius: 30px; /* Bordes redondeados */
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  .btn-login {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #286cb5; /* Azul principal */
    border: none;
    padding: 12px 20px;
    border-radius: 30px; /* Bordes redondeados */
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .btn-login:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.02); /* Efecto de agrandamiento */
  }
  
  .btn-login:active {
    background-color: #004494; /* Azul aún más oscuro cuando se presiona */
    transform: scale(0.98); /* Pequeña reducción al hacer clic */
  }
  